header {
  height: 15%;
  width: auto;
  padding-left: 10px;
  background-color: #CB0000;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 3vw;
  text-align: center;
}

/* By setting the margin to 0% it removes the gaps that appear at either side of the page to make it flush with the the sides of window */
body {
  margin: 0%;
}

footer {
  width: auto;
  height: 10%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #CB0000;
}

/* I created in Image class so that any adjustments I wanted to make wouldn't affect the img tag as there were certain images I didn't want to have a border */
.Image {
  max-width: 125%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: 5px solid black;
}

/* center is a class used to allign images centrally */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 100%;
  height: auto;
  margin-top: -5%;
  margin-bottom: 2.5%;
  border: 5px solid black;
}

.Synopsis {
  padding-left: 10px;
  margin-bottom: -5%;
  display: flex;
  flex-direction: row;
}

.Synopsis > div {
  margin: 10px;
  padding: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
}

.Audio {
  padding-left: 10px;
}

.Video {
  font-family: 'Bebas Neue';
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Video > div {
  margin: 10px;
  padding: 5px;
}

.NavBar {
  font-family: 'Bebas Neue';
  font-size: 2vw;
}

/* The next 3 sections of code are used to format the list that I'm using for my page links to make my nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* This piece of code changes the colour of an inactive page link when its being hovered over */
li a:hover:not(.active) {
  background-color: #393939;
}

/* The active class is used in order to specify what colour to make the active page link in the nav bar */
.active {
  background-color: #CB0000;
}

.Click_Info {
  font-size: 1.5vw;
  margin-bottom: -0.05%;
}

/* By not specifying the height when the webpage is accessed upon a mobile device it means that proportions of the image remain the same */
.Logo {
  width: 15%;
}

.Cast_Titles {
  margin-left: 5%;
  margin-bottom: -2%;
  font-family: 'Bebas Neue';
  font-size: 4vw;
}

.Cast {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

/* The below code formats all the div tags within the divs that are linked to the Cast class*/
.Cast > div {
  margin: 10px;
  padding: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
}

.Audio_Title {
  text-align: center;
  margin-top: -1%;
  margin-bottom: -2.5%;
  font-family: 'Bebas Neue';
  font-size: 3vw;
}

.Audio {
  margin: 10px;
  padding: 40px;
}
